@(isLogin: Boolean)
<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/login">Onebookshelf</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav" aria-expanded="false">
          <span class="sr-only">ナビゲーション</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="headerNav">
      <ul class="nav navbar-nav" role="menu">
      @if(isLogin) {
        <li><a role="menuitem" href="/books/search/all">本棚を見る</a></li>
        <li><a role="menuitem" href="/shelfs/update">本棚を管理する</a></li>
      } else {
        <li><a role="menuitem" href="/users/register">ユーザー登録</a></li>
      }
      </ul>

      @if(isLogin) {
      <form action="@controllers.search.routes.BookController.search()"
        method="POST" class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="search" name="word" value="" class="form-control" placeholder="キーワードを入力">
          <span class="input-group-btn">
        	<input type="submit" value="検索" class="btn btn-info">
          </span>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">テスト用</a>
          <ul class="dropdown-menu">
            <li><a role="menuitem" href="/books/register">本情報登録</a></li>
            <li><a role="menuitem" href="/shelfs/register">本棚登録</a></li>
          </ul></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
    }
    </div>
  </div>
</nav>