@(word: String, shelf: models.db.Bookshelf)

@main(title = "本棚アプリ - 本棚登録結果") {

<!-- ヘッダー -->
@header(true)

<div class="row">
  <div class="container">

	<!-- サイドメニュー -->
    @sidebar()

    <!-- コンテンツ -->
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="row">

        <!-- 見出し -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>本棚登録結果</h1> 
        </div>

        <!-- テーブル -->
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="table table-bordered table-striped ">
            <thead>
              <tr>
                <th>本棚の名前</th>
                <th>公開設定</th>
                <th align="center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>@shelf.shelf_name</td>
                <td>@shelf.privacy</td>
                <td align="center">
                  <a href="/books/@shelf.shelf_id/update" class="btn btn-primary">更新</a>
                  <input type="button" class="btn btn-danger" value="削除" onClick='if(confirm("本当に削除してよろしいですか？")) {location.href="/books/@shelf.shelf_id/remove"}'>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 </div>
}