@(shelf_id: Long=0)
@import play.api.Play.current
<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/books/search/all">本棚を見る<span class="badge">@common.OBSCache.getNumberOfBooks(shelf_id)</span></a></li>
        <li><a href="/shelfs/books/CSV/register">本を複数登録する</a></li>
        <li><a href="/shelfs/update">本棚を管理する</a></li>
        <!-- 
		    <li><a href="/users/register">ユーザ登録</a></li>
		    <li><a href="/books/register">本情報登録（テスト用）</a></li>         
		    <li><a href="/shelfs/register">本棚登録（テスト用）</a></li>
         -->   
      </ul>
    </div>
  </div>
</div>